* {
  margin: 0;
  padding: 0;
}

.clear{
  float: none;
}

.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 8;
  content: " ";
  clear: both;
  height: 0;
}

#header img{
	width: 100%;
}

#menu li{
	float:left;
	list-style-type: none;
	padding: 10px;
}